@font-face {
    font-family: Manrope-Regular;
    src: url('../fonts/Manrope/static/Manrope-Regular.ttf');
}
@font-face {
    font-family: Manrope-Bold;
    src: url('../fonts/Manrope/static/Manrope-Bold.ttf');
}
